body {
    background-color:rgb(12, 12, 1)
}


.jumbotron {
    background-color:rgb(201, 211, 150)
}

.break_them {
    word-break: break-all
}
.style_separator {
    background-color: rgb(235, 229, 229);
    padding: 5px;
    border-radius: 10px;

}





