{% extends "base.html" %} {% block title %}Py tips{% endblock %} {% block body %}
<div class="jumbotron">
  <h2>Python</h2>
  <p class="lead">PyGame</p>
  <br>
  <p>My version of Alien invasion game inspired by the book
    <br>"Python Crash Course: A Hands-On, Project-Based Introduction to Programming" by Eric Matthes in Python 3
    <br>
    The game will be a bit modified, see ToDo and checked
    <br>
    <a href="https://github.com/spawnmarvel/AlienInvasionGame" target="_blank">Alien Invasion game github</a>
  </p>
  

  <p>Useful links:</p>
  <a href="https://www.pygame.org/news" target="_blank">pygame.org</a>
  <br>
  <a href="https://www.pygame.org/docs/ref/rect.html" target="_blank">pygame.Rect</a>
  <br>
  <a href="https://www.pygame.org/docs/ref/key.html" target="_blank">pygame.Key</a>
  <p></p>

</div>
{% endblock %}