{% extends "base.html" %}
{% block title %}Note{% endblock %}
{% block body %}
<div class="jumbotron">
  <h2>Note DB</h2>
  <br>
  <form action = "/note" method = "POST">
    <div class="form-group">
        <p class="lead">Note:</p>
        <input class="form-control" id="inputdefault" type="text" name = "nt" />
        <br>
        <p class="lead">Topic:</p>
        <input class="form-control" id="inputdefault" type="text" name = "to" />
        <br>
        <p class="lead">Id:</p>
        <input class="form-control" id="inputdefault" type="text" name = "id" />
        <br>
      <input type = "submit" value = "submit" class="btn btn-primary" />
    </div>
  </form>
  <table class=".table">
      <thead>
        <tr>
          <th>data:</th>
      </thead>
      <tbody>
        {% for note in note_data %}
        <tr>
          <td>{{ note }}</td>
        </tr>
        <br>
      <tbody>
    </table>
{% endfor %}
<p>max id test: {{ m_id }}</p>
<p>type: {{ ty }}</p>
<p>result: {{ result }}</p>
{% endblock %}
</div>
