{% extends "base.html" %}
{% block title %}Note{% endblock %}
{% block body %}
<div class="jumbotron">
  <h2>Note DB</h2>
  <br>
  <form action = "/note" method = "GET">
    <input type = "submit" value = "GET" class="btn btn-primary" />
</form>
  <form action = "/note" method = "POST">
    <div class="form-group">
        <p class="lead">Note:</p>
        <input class="form-control" id="inputdefault" type="text" name = "nt" />
        <br>
        <p class="lead">Topic:</p>
        <input class="form-control" id="inputdefault" type="text" name = "to" />
        <br>
        <p class="lead">Id:</p>
        <input class="form-control" id="inputdefault" type="text" name = "id" />
        <br>
      <input type = "submit" value = "submit" class="btn btn-primary" />
    </div>
  </form>
  
  <table class="table table-hover">
      <thead>
        <tr>
          <th>id:</th>
          <th>Desc:</th>
          <th>Desc:</th>
          <th>Desc:</th>
        </tr>
      </thead>
      <tbody>
          {% for note in note_data %}
        <tr>
          {% if 'eeeeee' in note[1] %}
          <td><span style="color:#FF0062">{{ note[0] }}</span></td>
          {% else %}
          <td>{{ note[0] }}</td>
          {% endif %}
          <td>{{ note[1] }}</td>
          <td>{{ note[2] }}</td>
          <td><span style="color:blue">{{ note[3] }} </span></td>
        </tr>
      <tbody>
     {% endfor %}
    </table>

    <p>max id test: {{ m_id }}</p>
    <p>type: {{ ty }}</p>
    <p>result: {{ result }}</p>

</div>
{% endblock %}

