{% extends "base.html" %} {% block title %}SQLite{% endblock %} {% block body %}
<div class="jumbotron">
  <h2>Sqlite online</h2>

  <p>Install SQLite on Linux</p>
  <ul>
    <br>
    <li>sudo apt-get install sqlite3 libsqlite3-dev</li>
    <li>
      <img src="/static/img/sqlite/install.jpg" alt="open" class="img-responsive" alt="ftp ssl win /lin" width="500" height="250">
    </li>
    <li>sqlite3, check version</li>
    <li>ctrl d to quit or .quit</li>
    <li>
      <img src="/static/img/sqlite/version.jpg" alt="open" class="img-responsive" alt="ftp ssl win /lin" width="400" height="250">
    </li>
    <li>SELECT, UPDATE, INSERT, DELETE</li>
    <li>
      <img src="/static/img/sqlite/select_cmd.jpg" alt="open" class="img-responsive" alt="ftp ssl win /lin" width="250" height="200">
    </li>
  </ul>

  <p class="Lead">SQLite online browser</p>
  <a href="https://sqliteonline.com/" target="_blank">sqlite online</a>
  <ul>
    <br>
    <li>Open folder</li>
    <li>
      <img src="/static/img/sqlite/open.jpg" alt="open" class="img-responsive" alt="ftp ssl win /lin" width="250" height="100">
    </li>
    <br>
    <li>Navigate to db</li>
    <li>
      <img src="/static/img/sqlite/db.jpg" alt="db" class="img-responsive" alt="ftp ssl win /lin" width="250" height="100">
    </li>
    <br>
    <li>Run a "SELECT, UPDATE, DELETE, INSERT"</li>
    <li>
      <img src="/static/img/sqlite/select.jpg" alt="select" class="img-responsive" alt="ftp ssl win /lin" width="500" height="200">
    </li>
    <br>
    <li>Save the db when you are done</li>
    <li>
      <img src="/static/img/sqlite/save.jpg" alt="save" class="img-responsive" alt="ftp ssl win /lin" width="250" height="100">
    </li>
  </ul>
</div>
{% endblock %}