
{% extends "base.html" %} {% block title %}Continue{% endblock %} {% block body %}
<div class="jumbotron">
  <h2>Continue or logout from the session</h2>
  <p>continue or log out ?</p>
  <p>{{ res }}</p>

  <form action="/continue" method="POST">
    <div class="form-group">
      <label></label>
      <br>
      <!-- post btn -->
      <input type="submit" name="action" value="continue" class="btn btn-primary" />
      <input type="submit" name="action" value="logout" class="btn btn-primary" />
    </div>
  </form>

  
</div>
{% endblock %}