{% extends "base.html" %} {% block title %}Login {% endblock %} {% block body %}
<div class="jumbotron">
  <h2></h2>
  <p>To use the SQLite Note database you must be logged in</p>
  <!--<form action="/login" method="POST">
    
    <div class="form-group">
      <label>username:</label>
      <input class="form-control" id="inputdefault" type="text" name="usern" />
      </br>
      <label>secret key:</label>
      <input class="form-control" id="inputdefault" type="text" name="usern" />
    </br>
      <input type="submit" value="submit" class="btn btn-primary" />
    </div>
  </form>
-->
  {% for message in form.username.errors %}
  <div>{{ message }}</div>
  {% endfor %} {% for message in form.userkey.errors %}
  <div>{{ message }}</div>
  {% endfor %}

  <form action=" " method="POST">

    <fieldset>
      <legend>Contact Form</legend>
      {{ form.hidden_tag() }}

      {{ form.csrf_token }}
      <br> {{ form.username.label }}
      <br> {{ form.username }}
      <br>
      <br> {{ form.userkey.label }}
      <br> {{ form.userkey }}
      <br>
      <br>
      {{ form.submit }}
      <br>
    </fieldset>

  </form>

  <p>{{ rv }}</p>
  <p>{{ res }}</p>
  <a href="account">Create account</a>
  <p>{{ res }}</p>
</div>
{% endblock %}