{% extends "base.html" %}
{% block title %}Note{% endblock %}
{% block body %}
<div class="jumbotron">
  <h2>Note DB</h2>
  <!-- form for get btn -->
  <form action = "/note" method = "GET">
    <input type = "submit" value = "Get" class="btn btn-primary" />
    <h6>result: {{ result }}</h6>
  </form>
  <!-- Collapse btn -->
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#to_do_web">Post note</button>
  <div id="to_do_web" class="collapse">

  <form action = "/note" method = "POST">
    <div class="form-group">
        <p class="lead">Note:</p>
        <input class="form-control" id="inputdefault" type="text" name = "nt" />
        <br>
         <!-- options -->
        <div class="radio">
          <label><input type="radio" checked="checked" name="options" value="Programming">Programming</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="options" value="Sql">Sql</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="options" value="html">Html</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="options" value="linux">Linux</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="options" value="other">Other</label>
          </div>
         <!-- options -->
        <br>
        <p class="lead">Url:</p>
        <input class="form-control" id="inputdefault" type="text" name = "url" />
        <br>
        <br>
         <!-- post btn -->
        <input type = "submit" name ="action" value = "PostNote" class="btn btn-primary" />
        <br>
        <p>Delete id:</p>
        <p class="lead">Id:</p>
        <input class="form-control" id="inputdefault" type="text" name = "delId" />
        <br>
      <!-- delete btn -->
      <input type = "submit" name ="action" value = "Delete" class="btn btn-primary" />
    </div>
  </form>
   <!-- Collapse btn div -->
  </div>
    <!-- note db result  -->
  <table class="table table-hover">
      <thead>
        <tr>
          <th>Note:</th>
          <th>Topic:</th>
          <th>Url:</th>
          <th>Published:</th>
        </tr>
      </thead>
      <tbody>
          {% for note in note_data %}
        <tr>
          <td>{{ note[1] }}</td>
          <td><span class="label label-primary">{{ note[2] }}</span></td>
          <td><a href="{{ ''.join(['', note[3]]) }}" target="_blank"> {{ note[3] }}</a></td>
          <td><span class="glyphicon glyphicon-time"><br>{{ note[4] }}</span></td>
          <td>
              <form action = "/note" method = "POST">
                <input type = "submit" name ="action" value = "DeleteNote" class="btn btn-primary" />
                  <input class="form-control" id="disabledInput" type="text" name = "delid" value="{{ note[0] }}"/>
                  <br>          
            </form>
          </td>
        </tr>
      </tbody>
     {% endfor %}
    </table>



       <!-- make a div with p, h1 not table  -->
    <p>max id test: {{ m_id }}</p>
    <p>type: {{ ty }}</p>

</div>


{% endblock %}

