{% extends "base.html" %}
{% block title %}Github{% endblock %}
{% block body %}
<div class="jumbotron">
  <h2>Github remote branch</h2>
  <ul>
    <li>git add .</li>
    <li>git commit -m "my commit"</li>
    <li>git push origin HEAD:test</li>
  </ul>
  <br>
  <img src="/static/img/git/cmd_git.jpg" alt="postman cmd post" class="img-responsive" alt="ftp ssl win /lin" width="500" height="236">
  <br>
  <p>Result:</p>
  <img src="/static/img/git/git_result.jpg" alt="postman cmd post" class="img-responsive" alt="ftp ssl win /lin" width="500" height="236">
  <br>
  <p>Pull request:</p>
  <a href="https://github.com/spawnmarvel" target="_blank">Github</a>
  <br>
  <a href="https://github.com/spawnmarvel/TSK_testit.tech" target="_blank">Source code for testit.tech</a>
  <br>
  <p>hm...</p>
</div>
{% endblock %}