{% extends "base.html" %} {% block title %}testit.tech{% endblock %} {% block body %}
<div class="jumbotron">
  <h2>testit.tech</h2>
  <p class="lead">To do</p>
  <ul>
    <li>Flask</li>
    <li>Upload the finished API</li>
    <li>Form</li>
    <li>Sessions</li>
    <li>Post / redirect</li>
    <li>Chat app</li>
    <a href="https://github.com/miguelgrinberg/Flask-SocketIO-Chat">chat app</a>
    <li>Gunicorn</li>
    <li>Postgresql</li>
  </ul>
  <p class="lead">Done</p>
  <ul>
    <li>Visual Studio Code</li>
    <a href="https://code.visualstudio.com/" target="_blank">VS Code</a>
    <li>DigitalOcean</li>
    <li>Linux Ubuntu 16.04</li>
    <a href="https://www.digitalocean.com/" target="_blank">DigitalOcean Linux</a>
    <li>Pip virtualenv</li>
    <li>Flask Gunicorn nginx</li>
    <a href="https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-16-04"
      target="_blank">Gunicorn</a>
    <li>FilZilla SSH from Window to Linux on cloud</li>
    <a href="https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-16-04">FileZila SSH</a>
  </ul>

  <p class="lead">Idea</p>
  <ul>
    <li>Subject to learn more about (history, people, places)</li>
    <li>Chat app</li>
    <li>Machine learning</li>
    <li>Blackjack flask game</li>
    <li>Kivy android....</li>
  </ul>

  </div>
{% endblock %}